@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@utility container {
  margin-inline: auto;
}


@theme {
  /* ---Fonts */
  --font-lato: "Lato", sans-serif;

  /* ---Colors */
  --color-theme: #FD6F00;
  --color-text: #DFDFDF;
  --color-secoundary-text: #959595;
  --color-black-bg: #121212;
}
